@import "font-awesome";

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
}

.logo {
  height: 100px;
}

.navbar-brand {
  .logo {
    height: 25px;
  }
}

span {
  &.version {
    font-size: 10px;
  }
}

.subtitle {
  font-weight: 14px;
  color: #666;
}

.form-control.is-valid {
  background-image: none;
}
